
//container
.container
  max-width: 1170px
  margin: 0 auto
  +r(1280)
    max-width: 958px

//atom
.atom
  border: 1px solid #ccc
  padding: 15px
  margin: 10px

//border-right
.border-right
  border-right: 1px solid #333

//top-line
.top-line
  background: #272727

//user-menu
.user-menu
  background: #272727
  display: flex
  flex-direction: row
  justify-content: space-between
  cursor: pointer
  +r(610)
    flex-wrap: wrap
    justify-content: center

  &__el
    display: inline-flex
    color: $_grey
    font-family: 'lato'
    font-size: 14px
    text-transform: uppercase
    padding: 10px 20px
    border-left: 1px solid #333
    +r(610)
      border: none

    &:hover
      color: $_orange

  &__count
    display: inline-block
    margin-left: 6px
    padding: 0 6px 1px 6px
    border: 1px solid #333333
    border-radius: 2px
    transition: all 0.2s

//general-menu
.general-menu
  background: #1E1E1E
  display: flex
  flex-direction: row
  +r(1024)
    display: none

  &__el
    display: inline-flex
    margin-left: 33px

  &__link
    color: $_white
    font-family: 'lato'
    font-size: 15px
    text-transform: uppercase
    padding: 6px 0 35px 0
    border-bottom: 3px solid transparent
    transition: all 0.2s ease-in
    cursor: pointer

    &:hover
      color: $_orange

    &_active
      color: $_orange
      border-bottom: 3px solid #ee4415

    &_border

      &:hover
        border-bottom: 3px solid #ee4415

  &__ico
    display: inline-block
    position: relative
    top: -2px
    left: -2px
    color: $_grey

    &:hover
      color: $_white

//logo
.logo
  +r(768)
    margin-bottom: 15px
  &__link
    display: inline-block


//btn
.btn
  display: inline-block
  background: $_orange-btn
  color: $_white
  font-family: 'lato'
  font-size: 14px
  font-weight: 500
  text-transform: uppercase
  border-radius: 30px
  transition: all 0.2s ease-in
  cursor: pointer

  &:hover
    background: #1e1e1e

  &:focus
    outline: none

  &_std
    padding: 10px 32px
    border: 1px solid transparent

  &_subscribe
    padding: 10px 170px
    text-transform: none
    border-radius: 0

  &_cross
    position: absolute
    top: 0
    right: 0
    border-radius: 0
    font-size: 25px
    color: $_white

  &_gray
    background-color: $_grey-btn
    padding: 10px 32px
    color: #999
    border: 1px solid #666
    margin: 0 30px

    &:hover
      background-color: #666
      color: $_white

  &_nav
    display: none
    width: 100%
    color: $_white
    background-color: $_orange
    padding: 9px 14px
    border-radius: 2px
    +r(1024)
      display: flex

    &:hover
      background-color: $_orange

    & i
      display: inline-block
      margin-right: 5px

  &_white
    width: 50px
    height: 50px
    border-radius: 0
    background-color: $_white
    color: $_black
    padding: 0
    text-align: center
    line-height: 50px
    font-size: 16px
    &:hover
      background-color: $_orange
      color: $_white

  &_cart
    color: $_white
    background: $_orange-btn

  &_shopping-cart
    color: $_white
    background: transparent
    width: 40px
    height: 40px
    border: 1px solid #fff
    border-radius: 100%
    font-size: 16px
    padding: 7px 0 0 0

    &:hover
      color: $_black
      background-color: $_white

  &_mail
    width: 34px
    height: 34px
    background-color: #ee4415
    padding: 0
    border-radius: 0
    
  &_find
    padding: 15px 35px

//btn-group
.btn-group

  &__el
    display: inline-block
    padding: 0 2px

//items
.items

  &__list
    display: flex
    flex-direction: row
    justify-content: center
    +r(1155)
      flex-wrap: wrap


  &__el
    margin: 0 13px

//item
.item
  font-family: Roboto

  &:hover
    .item__btn-group
      display: block

  &__top
    margin-bottom: 20px
    position: relative

  &__bottom
    text-align: center

  &__link
    text-decoration: none

  &__title
    font-size: 17px
    font-weight: 400
    text-transform: uppercase
    color: #262626
    margin-bottom: 10px
    transition: all 0.2s ease-in

    &:hover
      color: $_orange

  &__price
    margin: 0 5px

    &_new
      color: $_orange

    &_old
      text-decoration: line-through
      color: $_grayLight

  &__btn-group
    display: none
    position: absolute
    top: 120px
    left: 50px

//newsletter
.newsletter
  position: relative
  background-image: url("../img/bg_newsletter.jpg")
  width: 870px
  color: $_white
  padding: 50px 60px
  margin: 40px 0
  //height: 500px

  &__in
    text-align: center
    padding: 95px 0 55px 0

  &__title
    font-size: 48px
    font-weight: bold
    text-transform: uppercase
    color: $_white

  &__descr
    color: $_white
    font-size: 15px
    font-weight: bold
    padding: 5px 0 0 0

    &_red
      color: $_orange
      font-weight: normal

//input
.input

  &_footer
    width: 215px
    height: 35px
    background-color: #0f0f0f
    color: #999
    font-family: 'lato'
    font-size: 13px
    font-weight: 500
    padding: 0 10px
    border-radius: 2px

  &:focus
    outline: none

  &__field
    width: 400px
    height: 40px
    padding-left: 20px
    border: 1px solid rgba(255, 255, 255, .3)
    background-color: $_black
    font-family: lato
    font-size: 13px
    font-weight: 500
    color: #b6b6b6

//subscribe
.subscribe

  &__field
    margin: 50px 0

  &__action
    margin: 20px 0
    position: relative

  &_footer
    position: relative

    .subscribe__action
      position: absolute
      top: -19px
      right: 0

//header
.header
  background-color: $_dark-black
  padding-top: 35px
  +r(1024)
    padding: 35px 15px

  &__left
    width: 30%
    +r(768)
      width: 100%

  &__right
    width: 70%
    +r(768)
      width: 100%

  &__in
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    +r(768)
      flex-wrap: wrap
      text-align: center

//choose-bike
.choose-bike
  background: url("../img/bg-mount.jpg") repeat top center scroll

  &__list
    display: flex
    flex-direction: row
    height: 300px
    position: relative

  &__el
    width: 150px

  &__img img
    display: block
    max-width: 100%

  &__link
    color: $_product
    font-family: Roboto
    font-size: 24px
    font-weight: 800
    text-transform: uppercase

    &:hover
      color: #eb4b20

  &__text
    color: $_text
    font-size: 15px
    font-family: Roboto

    &_orange
      color: #ed4d21

  &__button
    margin-top: 6px
    text-align: center

//section-title
.section-title
  background: url("../img/bg-heading.png") no-repeat top
  text-align: center
  margin: 88px auto 60px

  &__text
    font-size: 34px
    font-weight: 800
    color: #202020
    text-transform: uppercase
    padding-top: 30px

    &_orange
      color: $_orange

  &__descr
    color: $_grayLight
    font-family: Playball
    font-size: 22px
    padding-top: 6px

  &__ico
    color: $_orange-btn
    font-size: 22px

//filter-menu
.filter-menu
  text-align: center
  margin: 50px 0

  &__el
    display: inline-block
    padding: 0 3px

    &:first-child

      &:before
        content: ''

    &:before
      content: '•'
      color: $_grayLight
      display: inline-block
      padding-top: 2px
      padding-left: 4px
      padding-right: 10px

  &__text
    text-transform: uppercase
    color: $-grayLight
    font-size: 15px
    font-weight: 600
    cursor: pointer

    &_active
      color: $_product

//item-banner
.item-banner

  &__img
    width: 100%
    display: block

  &__list
    display: flex
    flex-direction: row
    +r(768)
      flex-wrap: wrap

  &__el
    width: 33.333%
    position: relative
    +r(768)
      width: 100%

  &__descr
    width: 220px
    position: absolute
    top: 105px
    right: 32px
    z-index: 2
    +r(1270)
      top: 50px
    +r(920)
      top: 30px
    +r(768)
      top: 70px
      right: 40px

    &_left
      right: 40px
      +r(1024)
        right: 20px

    &_center
      right: 80px
      +r(1024)
        right: 40px
      +r(920)
        right: 20px

    &_right
      left: 45px
      +r(920)
        left: 20px

  &__title
    font-size: 39px
    font-weight: 800
    color: $_white
    text-transform: uppercase
    +r(1024)
      font-size: 30px

    &_color
      color: #525a46

  &__price
    font-size: 31px
    font-weight: 300
    font-family: Roboto Slab
    color: #eef1c9
    margin-left: 7px
    +r(1024)
      font-size: 22px

    &_orange
      color: #f1613d

  &__text
    font-size: 17px
    font-family: 'lato'
    color: $_white
    margin-bottom: 50px
    +r(920)
      margin-bottom: 20px
    +r(768)
      margin-bottom: 50px

    &_color
      color: #525a46

//promo
.promo
  background: url("../img/promo_goshop_1.png") top center no-repeat
  height: 790px
  width: 100%
  position: relative
  +r(1024)
    width: 100%

  &__big
    position: absolute
    top: 197px
    right: 346px

  &__small
    position: absolute
    top: 412px
    right: 383px

  &__btn
    position: absolute
    top: 500px
    right: 549px

//offers
.offers

  &__list
    margin: 40px 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

  &__el
    width: 33%

  &__item
    display: flex
    flex-direction: row
    margin-bottom: 25px

    & a
      display: block

    & img
      width: 100%
      display: block
      border-right: 1px solid #ccc

  &__left
    width: 35%

  &__right
    margin-left: 15px
    width: 65%

  &__text
    font-family: Playball
    font-size: 18px
    color: #979797
    padding-top: 15px

  &__title
    font-family: Roboto
    font-size: 15px
    font-weight: normal
    text-transform: uppercase

    & a
      color: #262626
    
      &:hover
        color: #ed5126

    &_orange
      color: #ed4d21

  &__price
    font-family: Roboto
    font-size: 15px
    color: #979797
    padding-top: 3px

    & span
      margin-right: 4px

    &_new
      color: #ed5126

    &_old
      text-decoration: line-through
      margin-left: 5px

//actions
.actions

  &__el
    display: inline-block

  &__link
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    color: $_dark-black
    text-decoration: none

    &:hover
      color: #eb4b20

//advance
.advance
  background: url("../img/bg-mount.jpg") repeat top center scroll
  height: 837px
  margin-top: 90px

//promotion
.promotion
  display: flex
  flex-direction: row
  position: relative
  margin-top: 60px
  +r(768)
    flex-wrap: wrap

  &__left
    display: flex
    justify-content: flex-end
    width: 50%
    background: #f8f8f8 url("../img/promotion_1.jpg") bottom right no-repeat
    +r(768)
      width: 100%


  &__right
    display: flex
    justify-content: flex-start
    width: 50%
    background: #f0f0f0 url("../img/promotion_2.jpg") bottom right no-repeat
    +r(768)
      width: 100%

  &__center
    position: absolute
    top: 50%
    left: 42%
    padding: 10px 30px
    border-radius: 40px
    font-family: Roboto
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    transform: rotate(-90deg)
    background-color: $_white
    color: #7c7c7c
    +r(1150)
      display: none

  &__list
    margin: 27px 0 0 0

  &__el
    font-size: 15px

    &:before
      content: "•"
      padding-right: 3px

  &__img
    width: 100%

  &__descr
    padding: 143px 80px

  &__title
    font-family: Playball
    font-size: 22px

  &__price
    color: #444
    font-size: 42px
    font-weight: 800
    text-transform: uppercase

    &_orange
      color: #eb4b20
      font-family: Roboto Slab
      font-size: 38px
      font-weight: 300

  &__buttons
    font-size: 14px
    font-weight: bold
    color: #1e1e1e
    text-transform: uppercase
    padding-top: 47px

    & li
      display: inline-block
      border-left: 1px solid #ddd

      &:first-child
        border: none

    & span
      padding: 7px 15px
      cursor: pointer
      transition: all 0.2s ease-in

      &:hover
        color: #eb4b20

//social
.social
  margin-top: 20px

  &__list
    display: flex
    flex-direction: row

  &__el
    text-align: center
    margin: 0 2px

  &__link
    display: block
    color: #2e2e2e
    background-color: $_footerBg
    border: 1px solid #2e2e2e
    border-radius: 100%
    width: 32px
    height: 32px
    line-height: 32px
    transition: all 0.2s ease-in

    &:hover
      background-color: $_orange-btn
      color: $_white
      border: 1px solid #ed5126

//payments
.payments
  border-top: 1px solid #242424
  margin-top: 40px
  padding: 30px 0

  &__list
    display: flex
    flex-direction: row

  &__el
    margin: 0 15px
    opacity: 0.25

    &:hover
      opacity: 1

//owl-review
.owl-review
  position: relative

  & .owl-controls

    & .owl-buttons
      position: absolute
      top: 180px
      left: -10px
      right: -10px

      & .owl-next, .owl-prev
        position: absolute
        top: 0
        background: none

      & .owl-next
        right: 150px
        &:before
          content: '→'

      & .owl-prev
        left: 150px
        &:before
          content: '←'

//owl-footer
.owl-footer
  border-top: 1px solid #242424
  margin-top: 40px
  padding: 30px 56px
  position: relative

  & .owl-controls

    & .owl-buttons
      position: absolute
      top: 35px
      left: -10px
      right: -10px

      & .owl-next, .owl-prev
        position: absolute
        top: 0
        background: none

      & .owl-prev
        left: 0

      & .owl-next
        right: 0

  &__item
    display: flex
    flex-direction: row

  & img
    opacity: 0.25
    transition: all 0.2s ease-in

    &:hover
      opacity: 1

//copyright
.copyright
  background-color: $_copyrightBg

  &__in
    text-align: center
    padding: 30px 0


  &__text
    color: #373737
    font-size: 15px
    font-family: 'lato'

  &__link
    color: #eb5126
    text-decoration: none
    margin: 0 3px

//partners
.partners
  background-color: rgba(0, 0, 0, 0.2)

  &__list
    display: flex
    flex-direction: row
    justify-content: space-around

  &__el
    opacity: 0.3
    border-left: 1px solid rgba(255, 255, 255, .09)
    padding: 0 30px

    &:hover
      opacity: 1

    &:first-child
      border: none

//review
.review
  background: url("../img/bg-review.jpg") no-repeat top center scroll
  height: 450px

  &__text
    color: $_white
    text-align: center
    max-width: 800px
    padding: 0 50px
    margin: 50px auto


  &__title
    font-size: 34px
    font-weight: 800
    text-transform: uppercase

  &__happy
    font-family: Playball
    font-size: 22px
    
  &__descr
    color: #dddddd
    font-size: 19px
    padding: 40px 0

  &__author
    font-size: 17px
    font-weight: bold

//vertical-list
.vertical-list

  &__title
    color: $_white
    font-family: 'lato'
    font-size: 16px
    text-transform: uppercase
    font-weight: bold
    margin: 70px 0 23px 0

  &__link
    color: $_text
    text-decoration: none
    font-family: Roboto
    font-size: 15px
    line-height: 1.8

    &:hover
      color: $_white

  &__text
    color: #979797
    font-family: Roboto
    font-size: 15px

//.found-bike
.found-bike
  background-color: #2C2C2C

  &__in
    padding: 45px 0 45px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline

  &__title
    font-family: 'lato'
    font-size: 28px
    color: $_white

  &__orange
    font-weight: 800
    color: #ed4d21

  &__descr
    font-size: 17px
    color: #666666

//logo
.logo

  &_footer
    padding: 67px 0 0 0

  &__descr
    color: $_text
    font-size: 15px
    margin-top: 20px

//footer
.footer
  background-color: $_footerBg
  color: $_grayLight

  &__row
    display: flex
    flex-direction: row

  &__col
    width: 25%

//contacts
.contacts
  background: url("../img/bg-contacts.jpg") no-repeat top right scroll
  padding-top: 10px

  &__in
    text-align: center
    max-width: 800px
    background: rgba(20, 20, 20, .97)
    color: #999
    font-size: 17px
    line-height: 1.9
    margin: 81px auto 69px auto
    padding: 80px 30px

  & img
    margin: 25px 0 10px

  & h5
    color: $_white
    font-size: 21px
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 15px

//news
.news
  background-color: #F7F7F7
  font-family: 'lato'
  padding-top: 10px

  &__left
    width: 20%
    margin: 0 10px

  &__right
    width: 80%

  &__center
    padding-bottom: 12px

  &__list
    display: flex
    flex-direction: row
    padding: 50px 0 168px

  &__el
    display: flex

  &__date
    width: 60px
    height: 60px
    background-color: #ed5126
    color: $_white
    text-align: center
    font-family: "Roboto Slab"
    font-size: 19px
    font-weight: bold
    padding: 12px 0 0 0

    & p
      text-transform: uppercase
      font-size: 13px
      font-weight: normal

  &__comments
    width: 60px
    height: 60px
    background-color: #222
    color: $_white
    text-align: center
    font-family: "Roboto Slab"
    font-size: 15px
    padding: 12px 0 0 0

  &__tags
    padding: 2px 0 11px 0

    ul
      display: flex
      flex-direction: row

      li
        margin-right: 10px

  &__link
    color: #A0A07E

    &:hover
      color: $_black

  &__descr

    a
      color: #393939
      font-size: 19px
      line-height: 1.4

      &:hover
        color: #ed5126

  &__more
    color: #ed5126
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    transition: all 0.2s ease-in
    cursor: pointer

    &:after
      content: '→'

    &:hover
      color: #222
      padding-left: 5px

//featured-product
.featured-product

  &__in
    display: flex
    flex-direction: row
    position: relative

  &__left
    width: 25%

  &__right
    width: 75%
    display: flex
    flex-wrap: wrap

  &__item
    width: 33.33%
    position: relative

    &_big
      width: 100%

    &:hover .featured-product__descr
      display: block

  &__img

    & img
      display: block
      width: 100%
      height: 100%

  &__descr
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: all 0.2s ease-in
    background: rgba(238, 78, 34, .93)
    display: none

  &__info
    position: absolute
    padding: 0
    top: 50%
    margin-top: -65px
    text-align: center
    left: 20px
    right: 20px
    color: #ff0000

  &__brand
    font-family: Playball
    font-size: 22px
    padding-top: 15px
    color: $_white

  &__model
    font-family: "Roboto Slab"
    font-size: 24px
    text-transform: uppercase
    color: $_white

  &__price
    font-family: "Roboto Slab"
    font-size: 15px
    padding-top: 6px
    color: $_white

//limited-time
.limited-time
  background: url("../img/bg-timer.jpg") no-repeat top center scroll

  &__btn
    margin: 780px 0 92px 0

//drop-down
.drop-down
  background: url("../img/dropdown-banner_2.jpg") no-repeat top right
  width: 600px

  &__title
    display: block
    font-size: 15px
    font-weight: 800
    text-transform: uppercase
    border-bottom: 2px solid #ed5126
    color: $_product
    padding: 5px 0

    &:hover
      color: $_orange-btn

    &:before
      content: ''
      width: 47px
      height: 2px
      background-color: $_orange-btn
      position: absolute
      bottom: 0

  &__list
    padding: 0 0 145px 0

  &__el

    & a
      font-size: 15px
      font-weight: 500
      line-height: 1.6
      color: #949494

      &:hover
        color: $_product

//megamenu
.megamenu
  background: url("../img/dropdown-banner_1.jpg") no-repeat top right
  width: 950px

  &__title
    display: block
    font-size: 15px
    font-weight: 800
    text-transform: uppercase
    //border-bottom: 2px solid #ed5126
    color: $_product
    padding: 5px 0

    &:hover
      color: $_orange-btn

    &:before
      content: ''
      width: 47px
      height: 2px
      background-color: $_orange-btn
      position: absolute
      bottom: 0

  &__list
    padding: 0 0 145px 0

  &__el

    & a
      font-size: 15px
      font-weight: 500
      line-height: 1.6
      color: #949494

      &:hover
        color: $_product





































