//body
body
  font-size: 14px
  font-family: 'lato'
//container
.container
  max-width: 958px
  margin: 0 auto

//atom
.atom
  border: 1px solid #ccc
  padding: 15px
  margin: 10px

//border-right
.border-right
  border-right: 1px solid #333


// variables
$_orange: #ee4415
$_orange-btn: #ef4416
$_grey: #777
$_grey-btn: #2C2C2C
$_white: #fff
$_black: #000
$_dark-black: #1E1E1E

//top-line
.top-line
  background: #272727


//user-menu
.user-menu
  background: #272727
  display: flex
  flex-direction: row
  justify-content: space-between
  cursor: pointer
  +r(610)
    flex-wrap: wrap
    justify-content: center

  &__el
    display: inline-flex
    color: $_grey
    font-family: 'lato'
    font-size: 14px
    text-transform: uppercase
    padding: 10px 20px
    border-left: 1px solid #333
    +r(610)
      border: none

    &:hover
      color: $_orange

  &__count
    display: inline-block
    margin-left: 6px
    padding: 0 6px 1px 6px
    border: 1px solid #333333
    border-radius: 2px
    transition: all 0.2s

//general-menu
.general-menu
  background: #1E1E1E
  display: flex
  flex-direction: row
  +r(1024)
    display: none

  &__el
    display: inline-flex
    margin-left: 33px

  &__link
    color: $_white
    font-family: 'lato'
    font-size: 15px
    text-transform: uppercase
    padding: 6px 0 35px 0
    border-bottom: 3px solid transparent
    transition: all 0.2s ease-in
    cursor: pointer

    &:hover
      color: $_orange

    &_active
      color: $_orange
      border-bottom: 3px solid #ee4415

    &_border

      &:hover
        border-bottom: 3px solid #ee4415

  &__ico
    display: inline-block
    position: relative
    top: -2px
    left: -2px
    color: $_grey

    &:hover
      color: $_white

//logo
.logo
  +r(768)
    margin-bottom: 15px
  &__link
    display: inline-block


//btn
.btn
  display: inline-block
  background: $_orange-btn
  color: $_white
  font-family: 'lato'
  font-size: 14px
  font-weight: 500
  text-transform: uppercase
  padding: 10px 32px
  border-radius: 30px
  transition: all 0.2s ease-in
  cursor: pointer

  &:hover
    background: #1e1e1e

  &:focus
    outline: none

  &_subscribe
    padding: 10px 170px
    text-transform: none
    border-radius: 0

  &_cross
    position: absolute
    top: 0
    right: 0
    border-radius: 0
    font-size: 25px
    color: $_white

  &_gray
    background-color: $_grey-btn
    color: #999
    border: 1px solid #666

    &:hover
      background-color: #666
      color: $_white

  &_nav
    display: none
    width: 100%
    color: $_white
    background-color: $_orange
    padding: 9px 14px
    border-radius: 2px
    +r(1024)
      display: flex

    &:hover
      background-color: $_orange

    & i
      display: inline-block
      margin-right: 5px

  &_white
    width: 50px
    height: 50px
    border-radius: 0
    background-color: $_white
    color: $_black
    padding: 0
    text-align: center
    line-height: 50px
    font-size: 16px
    &:hover
      background-color: $_orange
      color: $_white

  &_cart
    color: $_white
    background: $_orange-btn

//btn-group
.btn-group

  &__el
    display: inline-block
    padding: 0 2px

//items
.items

  &__list
    display: flex
    flex-direction: row
    justify-content: center

  &__el
    margin: 0 13px

//item
.item
  font-family: Roboto

  &:hover
    .item__btn-group
      display: block

  &__top
    margin-bottom: 20px
    position: relative

  &__bottom
    text-align: center

  &__link
    text-decoration: none

  &__title
    font-size: 17px
    font-weight: 400
    text-transform: uppercase
    color: #262626
    margin-bottom: 10px
    transition: all 0.2s ease-in

    &:hover
      color: $_orange

  &__price
    margin: 0 5px

    &_new
      color: $_orange

    &_old
      text-decoration: line-through
      color: #929292
  &__btn-group
    display: none
    position: absolute
    top: 120px
    left: 50px

//newsletter
.newsletter
  position: relative
  background-image: url(../img/bg_newsletter.jpg)
  width: 870px
  color: $_white
  padding: 50px 60px
  margin: 40px 0
  //height: 500px

  &__in
    text-align: center
    padding: 95px 0 55px 0

  &__title
    font-size: 48px
    font-weight: bold
    text-transform: uppercase
    color: $_white

  &__descr
    color: $_white
    font-size: 15px
    font-weight: bold
    padding: 5px 0 0 0

    &_red
      color: $_orange
      font-weight: normal

//input
.input

  &:focus
    outline: none

  &__field
    width: 400px
    height: 40px
    padding-left: 20px
    border: 1px solid rgba(255, 255, 255, .3)
    background-color: $_black
    font-family: lato
    font-size: 13px
    font-weight: 500
    color: #b6b6b6

//subscribe
.subscribe

  &__field
    margin: 50px 0

  &__action
    margin: 20px 0
    position: relative

//header
.header
  background-color: $_dark-black
  padding-top: 35px
  +r(1024)
    padding: 35px 15px

  &__left
    width: 30%
    +r(768)
      width: 100%

  &__right
    width: 70%
    +r(768)
      width: 100%

  &__in
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    +r(768)
      flex-wrap: wrap
      text-align: center

//section-title
.section-title
  background: url(../img/bg-heading.png) no-repeat top
  text-align: center
  padding: 40px 0 0 0

  &__text
    font-size: 34px
    font-weight: 800
    color: #202020
    text-transform: uppercase

    &_orange
      color: $_orange

  &__descr
    color: #929292
    font-family: Playball
    font-size: 22px
    padding-top: 9px

  &__ico
    color: $_orange-btn
    font-size: 22px

//filter-menu
.filter-menu
  text-align: center
  margin: 50px 0

  &__el
    display: inline-block
    padding: 0 3px

    &:first-child

      &:before
        content: ''

    &:before
      content: '•'
      color: #929292
      display: inline-block
      padding-top: 2px
      padding-left: 4px
      padding-right: 10px

  &__text
    text-transform: uppercase
    color: #929292
    font-size: 15px
    font-weight: 600
    cursor: pointer

    &_active
      color: #1f1f1f

//item-banner
.item-banner

  &__img
    width: 100%
    display: block

  &__list
    display: flex
    flex-direction: row
    +r(768)
      flex-wrap: wrap

  &__el
    width: 33.333%
    position: relative
    +r(768)
      width: 100%

  &__descr
    width: 220px
    position: absolute
    top: 105px
    right: 32px
    z-index: 2
    +r(1270)
      top: 50px
    +r(920)
      top: 30px
    +r(768)
      top: 70px
      right: 40px

    &_left
      right: 40px
      +r(1024)
        right: 20px

    &_center
      right: 80px
      +r(1024)
        right: 40px
      +r(920)
        right: 20px

    &_right
      left: 45px
      +r(920)
        left: 20px

  &__title
    font-size: 39px
    font-weight: 800
    color: $_white
    text-transform: uppercase
    +r(1024)
      font-size: 30px

    &_color
      color: #525a46

  &__price
    font-size: 31px
    font-weight: 300
    font-family: Roboto Slab
    color: #eef1c9
    margin-left: 7px
    +r(1024)
      font-size: 22px

    &_orange
      color: #f1613d

  &__text
    font-size: 17px
    font-family: 'lato'
    color: $_white
    margin-bottom: 50px
    +r(920)
      margin-bottom: 20px
    +r(768)
      margin-bottom: 50px

    &_color
      color: #525a46

//promo
.promo
  background-image: url(../img/promo_goshop_1.png)
  height: 790px
  width: 100%
  position: relative
  +r(1024)
    width: 100%

  &__big
    position: absolute
    top: 197px
    right: 205px

  &__small
    position: absolute
    top: 412px
    right: 221px

//product
.product

  &__name
    color: $_dark-black
    font-size: 24px
    font-weight: bold
    text-transform: uppercase

    &:hover
      color: #eb4b20

  &__text
    font-size: 15px
    color: #979797

    &_orange
      color: #ed4d21

//promotion
.promotion
  background: url(../img/promotion_1.jpg) no-repeat
  height: 550px
  position: relative

  &__title
    font-family: Playball
    font-size: 22px

  &__price
    color: #444
    font-size: 42px
    font-weight: 800
    text-transform: uppercase

    &_orange
      color: #eb4b20
      font-size: 38px

//features
.features
  margin: 27px 0 0 0
  &__el
    font-size: 15px

    &:before
      content: "•"
      padding-right: 3px

//actions
.actions

  &__el
    display: inline-block

  &__link
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    color: $_dark-black
    text-decoration: none

    &:hover
      color: #eb4b20
//advance
.advance
  background: url(../img/bg-mount.jpg) repeat top center scroll
  height: 837px
  margin-top: 90px


















