mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    //fonts
    link(rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Lato:800,700,600,500,400,300")
    link(rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Roboto+Slab:800,700,600,500,400,300")
    link(rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Roboto:800,700,600,500,400,300")
    link(rel="stylesheet" media="all" href="http://fonts.googleapis.com/css?family=Playball:800,700,600,500,400,300")
    //css
    link(rel="stylesheet" media="all" href="css/lib/owl.carousel.css")
    link(rel="stylesheet" media="all" href="css/lib/owl.theme.css")
    link(rel="stylesheet" media="all" href="css/fonts/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" media="all" href="css/style.css")
    script(src="js/app.js")

  body

    //BEGIN out
    .out
      //| Just text
      block content
    //END out
    