extends _layout
block content

    .atom
        .user-menu
            .user-menu__left
                ul.user-menu__list
                    li.user-menu__el us dollar
                    li.user-menu__el english
            .user-menu__right
                ul.user-menu__list
                    li.user-menu__el
                        a.user-menu__link my account
                    li.user-menu__el my cart
                    li.user-menu__el checkout

    .atom
        .general-menu
            ul.general-menu__list
                li.general-menu__el
                    a.general-menu__link.general-menu__link_active home
                li.general-menu__el
                    a.general-menu__link bike
                li.general-menu__el
                    a.general-menu__link clothing
                li.general-menu__el
                    a.general-menu__link components
                li.general-menu__el
                    a.general-menu__link accessories
                li.general-menu__el
                    a.general-menu__link blog
                    i.general-menu__ico.fa.fa-search

    .atom
        .logo
            img.logo__img

    .atom
        span.btn shop now

    .atom
        span.btn view all bikes

    .atom
        span.btn add to cart

    div.atom
        div.drop-down
            img.drop-down__img

    div.atom
        span.btn.btn_subscribe Subscribe

    div.atom
        span.btn.btn_cross




