extends _layout
block content
    .container
        .atom
            .user-menu
                .user-menu__left
                    ul.user-menu__list
                        li.user-menu__el us dollar
                        li.user-menu__el.border-right english
                .user-menu__right
                    ul.user-menu__list
                        li.user-menu__el
                            a.user-menu__link my account
                        li.user-menu__el my cart
                            span.user-menu__count 0
                        li.user-menu__el.border-right checkout


    .container
        .atom
            header.header
                header__left
                    .logo
                        img.logo__img
                header__right
                    .general-menu
                        ul.general-menu__list
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_active home
                            li.general-menu__el
                                a.general-menu__link bike
                            li.general-menu__el
                                a.general-menu__link clothing
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border components
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border accessories
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border blog
                                i.general-menu__ico.fa.fa-search

    .atom
        span.btn.btn_nav
            i.fa.fa-reorder
            |navigation

    .atom
        .general-menu
            ul.general-menu__list
                li.general-menu__el
                    a.general-menu__link.general-menu__link_active home
                li.general-menu__el
                    a.general-menu__link bike
                li.general-menu__el
                    a.general-menu__link clothing
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border components
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border accessories
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border blog
                    i.general-menu__ico.fa.fa-search

    .atom
        .logo
            img.logo__img

    .atom
        span.btn shop now

    .atom
        span.btn view all bikes

    .atom
        span.btn add to cart

    .atom
        span.btn.btn_gray discover

    .atom
        span.btn.btn_cross
            i.fa.fa-remove

    .atom
        .newsletter
            .newsletter__in
                h1.newsletter__title newsletter
                p.newsletter__descr Did you know that we ship to over
                    span.newsletter__descr.newsletter__descr_red 24 different countries
                form.subscribe
                    .subscribe__field
                        input.input.input__field(placeholder="Enter your email address")
                    .subscribe__action
                        span.btn.btn_subscribe(type="submit")
                            i.fa.fa-envelope
                            |Subscribe

    .atom
        .section-title
            h2.section-title__text choose your
                span.section-title__text_orange bike
            p.section-title__descr Search by type of
            i.section-title__ico.fa.fa-angle-double-up

    .atom
        .filter-menu
            ul.filter-menu__list
                li.filter-menu__el
                    span.filter-menu__text.filter-menu__text_active clothing
                li.filter-menu__el
                    span.filter-menu__text bikes
                li.filter-menu__el
                    span.filter-menu__text components
                li.filter-menu__el
                    span.filter-menu__text accessories
                li.filter-menu__el
                    span.filter-menu__text protections







