extends _layout
block content
    .container
        .atom
            .user-menu
                .user-menu__left
                    ul.user-menu__list
                        li.user-menu__el us dollar
                        li.user-menu__el.border-right english
                .user-menu__right
                    ul.user-menu__list
                        li.user-menu__el
                            a.user-menu__link my account
                        li.user-menu__el my cart
                            span.user-menu__count 0
                        li.user-menu__el.border-right checkout


    .container
        .atom
            header.header
                header__left
                    .logo
                        img.logo__img
                header__right
                    .general-menu
                        ul.general-menu__list
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_active home
                            li.general-menu__el
                                a.general-menu__link bike
                            li.general-menu__el
                                a.general-menu__link clothing
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border components
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border accessories
                            li.general-menu__el
                                a.general-menu__link.general-menu__link_border blog
                                i.general-menu__ico.fa.fa-search

    .atom
        span.btn.btn_nav
            i.fa.fa-reorder
            |navigation

    .atom
        .general-menu
            ul.general-menu__list
                li.general-menu__el
                    a.general-menu__link.general-menu__link_active home
                li.general-menu__el
                    a.general-menu__link bike
                li.general-menu__el
                    a.general-menu__link clothing
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border components
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border accessories
                li.general-menu__el
                    a.general-menu__link.general-menu__link_border blog
                    i.general-menu__ico.fa.fa-search

    .atom
        .logo
            img.logo__img

    .atom
        span.btn shop now

    .atom
        span.btn view all bikes

    .atom
        span.btn add to cart

    .atom
        span.btn.btn_gray discover

    .atom
        span.btn.btn_compare
            i.fa.fa-exchange
    .atom
        span.btn.btn_cross
            i.fa.fa-remove

    .atom
        span.btn.btn_white
            i.fa.fa-envelope

    .atom
        .newsletter
            .newsletter__in
                h1.newsletter__title newsletter
                p.newsletter__descr Did you know that we ship to over
                    span.newsletter__descr.newsletter__descr_red 24 different countries
                form.subscribe
                    .subscribe__field
                        input.input.input__field(placeholder="Enter your email address")
                    .subscribe__action
                        span.btn.btn_subscribe(type="submit")
                            i.fa.fa-envelope
                            |Subscribe

    .atom
        .section-title
            h2.section-title__text choose your
                span.section-title__text_orange bike
            p.section-title__descr Search by type of
            i.section-title__ico.fa.fa-angle-double-down

    .atom
        .filter-menu
            ul.filter-menu__list
                li.filter-menu__el
                    span.filter-menu__text.filter-menu__text_active clothing
                li.filter-menu__el
                    span.filter-menu__text bikes
                li.filter-menu__el
                    span.filter-menu__text components
                li.filter-menu__el
                    span.filter-menu__text accessories
                li.filter-menu__el
                    span.filter-menu__text protections

    .atom
        .item-banner
            img.item-banner__img
            .item-banner__descr
                h2.item-banner__title men
                    span.item-banner__price $350
                p.item-banner__text Bikes, Clothing, and many more...
                .item-banner__buy
                    span.btn shop now

    .atom
        .product
            .product__top
                img(src="img/product_1.png").
            .product__center
                .product__name Mountain bikes
            .product__bottom
                .product__price
                    span.product__text Start from
                    span.product__text.product__text_orange $599

    .atom
        .item
            .item__top
                a(href="#")
                    img(src="img/item_1.jpg").item__img
                .item__btn-group
                    .btn-group
                        ul.btn-group__list
                            li.btn-group__el
                                span.btn.btn_white
                                    i.fa.fa-exchange
                            li.btn-group__el
                                span.btn.btn_white
                                    i.fa.fa-heart
                            li.btn-group__el
                                span.btn.btn_white.btn_cart
                                    i.fa.fa-shopping-cart
            .item__bottom
                h4.item__title apple cinema 30"
                p
                    span.item__price.item__price_new $110.00
                    span.item__price.item__price_old $122.00
    .atom
        .promotion
            .promotion__top
                h5.promotion__title Waterproof Jacket
                span.promotion__price Men
                    span.promotion__price.promotion__price_orange $350
            .promotion__center
                .features
                    ul.features__list
                        li.features__el Integrated i-Lume LED rear light
                        li.features__el Optional hood available separately
                        li.features__el Breathability rating 15,000
            .promotion__bottom
                .actions
                    ul.actions__list
                        li.actions__el
                            a(href="#").actions__link detail
                        li.actions__el
                            a(href="#").actions__link add to cart

    .atom(style="background: #ccc")
        .btn-group
            ul.btn-group__list
                li.btn-group__el
                    span.btn.btn_white
                        i.fa.fa-exchange
                li.btn-group__el
                    span.btn.btn_white
                        i.fa.fa-heart
                li.btn-group__el
                    span.btn.btn_white.btn_cart
                        i.fa.fa-shopping-cart

    .atom
        .social
            ul.social__list
                li.social__el
                    a(href="#").social_link
                        i.social__ico.fa.fa-twitter
                li.social__el
                    a(href="#").social_link
                        i.social__ico.fa.fa-facebook
                li.social__el
                    a(href="#").social_link
                        i.social__ico.fa.fa-youtube-play
                li.social__el
                    a(href="#").social_link
                        i.social__ico.fa.fa-github
                li.social__el
                    a(href="#").social_link
                        i.social__ico.fa.fa-

    .atom(style="background: #000")
        .payments
            ul.payments__list
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-1.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-2.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-3.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-4.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-5.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-6.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-7.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-8.png")

    .atom
        .copyright
            span.copyright__text Powered By
                a(href="#").copyright__link OpenCart
            span.copyright__text Your Store 2016


    .atom(style="background: #000")
        .partners(style="background: #000")
            ul.partners__list
                li.partners__el
                    a(href="#").partners__link
                        img(src="img/brand1.png")
                li.partners__el
                    a(href="#").partners__link
                        img(src="img/brand2.png")
                li.partners__el
                    a(href="#").partners__link
                        img(src="img/brand3.png")
                li.partners__el
                    a(href="#").partners__link
                        img(src="img/brand4.png")
                li.partners__el
                    a(href="#").partners__link
                        img(src="img/brand5.png")

    .atom
        .review
            .review__text
                h2.review__title They says
                span.review__happy Happy clients
                p.review__descr "Cycling is a healthy , fun and exciting way to travel. No matter what type of cycling you’re into, we’ve got a bike for you. We stock one of the largest bicycle ranges anywhere”
                span.review__author JESICA WILSON - France

    .atom
        .vertical-list
            h4.vertical-list__title My account
            ul.vertical-list__item
                li.vertical-list__el
                    a(href="#").vertical-list__link My account
                li.vertical-list__el
                    a(href="#").vertical-list__link Order History
                li.vertical-list__el
                    a(href="#").vertical-list__link Wish List
                li.vertical-list__el
                    a(href="#").vertical-list__link Newsletter

    .atom
        .vertical-list
            h4.vertical-list__title Our service
            ul.vertical-list__item
                li.vertical-list__el
                    a(href="#").vertical-list__link Shipping Return
                li.vertical-list__el
                    a(href="#").vertical-list__link Contact us
                li.vertical-list__el
                    a(href="#").vertical-list__link Faq
                li.vertical-list__el
                    a(href="#").vertical-list__link Affiliates
                li.vertical-list__el
                    a(href="#").vertical-list__link Specials

    .atom
        .vertical-list
            h4.vertical-list__title newsletter
            ul.vertical-list__item
                li.vertical-list__el
                    p.footer-newsletter__text Lorem ipsum dolor sit amet conseret adipiscing elit sed diam nonunem.
                li.vertical-list__el
                    form.subscribe.subscribe_footer
                        .subscribe__field
                            input.input.input__mail(placeholder="Your Email")
                        .subscribe__action
                            button.btn.btn_mail(type="submit")
                                i.fa.fa-envelope

    .atom
        .logo
            a.logo__link(href="#")
                img(src="img/logo-footer.png")
            .logo__descr
                p Ecommerce OC Template
            .social
                ul.social__list
                    li.social__el
                        a(href="#").social_link
                            i.social__ico.fa.fa-twitter
                    li.social__el
                        a(href="#").social_link
                            i.social__ico.fa.fa-facebook
                    li.social__el
                        a(href="#").social_link
                            i.social__ico.fa.fa-youtube-play
                    li.social__el
                        a(href="#").social_link
                            i.social__ico.fa.fa-github
                    li.social__el
                        a(href="#").social_link
                            i.social__ico.fa.fa-behance


    .atom(style="background: #000")
        .found-bike
            .found-bike__left
                h5.found-bike__title Found your
                    span.found-bike__orange Dream Bike
                    |? Why wait
                p.found-bike__descr Get it now with a 0% finance deal from GoShop Fashion..
            .found-bike__right
                .found-bike__action
                    span.btn.btn_gray discover
                    span.btn Purchase

    .atom
        .product-sale
            a(href="#")
                img(src="img/product-sale1.png")
            span.product-sale__text Mountain bike
            a(href="#")
                h6.product-sale__title GT SENSOR COMP 27.5
            .product-sale__price
                span Price:
                span.item__price.item__price_new $299
                span.item__price.item__price_old $599
    .atom
        .payments
            ul.payments__list
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-1.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-2.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-3.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-4.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-5.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-6.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-7.png")
                li.payments__el
                    a(href="#").payments__link
                        img(src="img/payment-8.png")


    .atom
        .footer-newsletter
            h4. newsletter
            p.footer-newsletter__text Lorem ipsum dolor sit amet conseret adipiscing elit sed diam nonunem.
            form.footer-newsletter
                .footer-newsletter__field
                    input.input.input__field(placeholder="Your Email")
                .footer-newsletter__action
                    span.btn.btn_white(type="submit")
                        i.fa.fa-envelope

    .atom
        .contacts
            img(src="img/logo-footer.png")
            p 148 Parramatta Road Stanmore NSW 2048, New York City
            p Call Sales & Workshop : (02) 9567 1999
            img(src="img/bg-heading-2.png")
            h5 Opening hours
            p Monday to Wednesday from 10.00AM - 17.00PM
            p Thursday to Sunday from 11.00AM - 19.00PM

    .atom(style="background: #000")
        div.owl-footer
            div.owl__item
                a(href="#")
                    img(src="img/payment-1.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-2.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-3.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-4.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-5.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-6.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-7.png")
            div.owl__item
                a(href="#")
                    img(src="img/payment-8.png")

    .atom
        .drop-down
            h5.drop-down__title Cameras
            ul.drop-down__list
                li.drop-down__el
                    a(href="#") Components
                li.drop-down__el
                    a(href="#") Monitors
                li.drop-down__el
                    a(href="#") Mice and Trackballs
                li.drop-down__el
                    a(href="#") Mac
                li.drop-down__el
                    a(href="#") MP3 Players
                li.drop-down__el
                    a(href="#") Scanners
                li.drop-down__el
                    a(href="#") Software

    .atom
        .megamenu
            img("../img/dropdown-banner_2.jpg")
            h5.megamenu__title phones & pdas
            ul.megamenu__list
                li.megamenu__el
                    a(href="#") Scanners
                li.megamenu__el
                    a(href="#") Software
                li.megamenu__el
                    a(href="#") Laptops & Notebooks
                li.megamenu__el
                    a(href="#") test
                li.megamenu__el
                    a(href="#") Mac
                li.megamenu__el
                    a(href="#") Mp3 player
                li.megamenu__el
                    a(href="#") Macs
            h5.megamenu__title Scanners
            ul.megamenu__list
                li.megamenu__el
                    a(href="#") Software
                li.megamenu__el
                    a(href="#") test 1
                li.megamenu__el
                    a(href="#") Web cameras
                li.megamenu__el
                    a(href="#") Windows
                li.megamenu__el
                    a(href="#") test
                li.megamenu__el
                    a(href="#") PC
                li.megamenu__el
                    a(href="#") Printers
            h5.megamenu__title Software
            ul.megamenu__list
                li.megamenu__el
                    a(href="#") Scanners
                li.megamenu__el
                    a(href="#") Components
                li.megamenu__el
                    a(href="#") Web cameras
                li.megamenu__el
                    a(href="#") Mice and track
                li.megamenu__el
                    a(href="#") test
                li.megamenu__el
                    a(href="#") PC
                li.megamenu__el
                    a(href="#") Monitors






















