extends _layout

block title
	title Title of template

block content

	//BEGIN top-line
	.top-line
		.container
			.user-menu
				.user-menu__left
					ul.user-menu__list
						li.user-menu__el us dollar
						li.user-menu__el.border-right english
				.user-menu__right
					ul.user-menu__list
						li.user-menu__el my account
						li.user-menu__el my cart
							span.user-menu__count 0
						li.user-menu__el.border-right checkout
	//END top-line

	//BEGIN header
	header.header
		.header__in.container
			.header__left
				.logo
					a(href="#").logo__link
						img(src="img/logo-goshop.png")
			.header__right
				nav.general-menu
					ul.general-menu__list
						li.general-menu__el
							a.general-menu__link.general-menu__link_active home
						li.general-menu__el
							a.general-menu__link bike
						li.general-menu__el
							a.general-menu__link clothing
						li.general-menu__el
							a.general-menu__link.general-menu__link_border components
						li.general-menu__el
							a.general-menu__link.general-menu__link_border accessories
						li.general-menu__el
							a.general-menu__link.general-menu__link_border blog
						li.general-menu__el
							i.general-menu__ico.fa.fa-search
				span.btn.btn_nav
					i.fa.fa-reorder
					|navigation

		//BEGIN promo
		.promo
			.promo__big
				img(src="/img/promo_goshop_2.png")
			.promo__small
				img(src="/img/promo_goshop_3.png")
			//.promo__btn
			//	a(href="#")
			//		span.btn.btn_find find your bike
		//END promo

		//BEGIN item-banner
		.item-banner
			ul.item-banner__list
				li.item-banner__el
					img(src="/img/banner_1.png").item-banner__img
					.item-banner__descr.item-banner__descr_left
						h2.item-banner__title men
							span.item-banner__price $350
						p.item-banner__text Bikes, Clothing, and many more...
						span.btn.btn_shop shop now
				li.item-banner__el
					img(src="/img/banner_02.png").item-banner__img
					.item-banner__descr.item-banner__descr_center
						h2.item-banner__title women
							span.item-banner__price.item-banner__price_orange $250
						p.item-banner__text Bikes, Clothing, Accessories and many more...
						span.btn.btn_shop shop now
				li.item-banner__el
					img(src="/img/banner_03.png").item-banner__img
					.item-banner__descr.item-banner__descr_right
						h2.item-banner__title.item-banner__title_color bike’s
							span.item-banner__price $550
						p.item-banner__text.item-banner__text_color All Famous Bike Brands. Only for you...
						span.btn.btn_shop shop now
		//END item-banner

	//END header

	//BEGIN main
	main.main
		section.choose-bike
			.section-title
				h2.section-title__text choose your
					span.section-title__text_orange bike
				p.section-title__descr Search by type of
				i.section-title__ico.fa.fa-angle-double-down

		//BEGIN promotion
		section.promotion
			img(src="/img/promotion_1.jpg")
			.promotion__descr.promotion__descr_left
				h5.promotion__title Waterproof Jacket
				span.promotion__price men
					span.promotion__price.promotion__price_orange $350
				ul.promotion__list
					li.promotion__el Integrated i-Lume LED rear light
					li.promotion__el Optional hood available separately
					li.promotion__el Breathability rating 15,000
			//.promotion__discount Discount up to 75%
			img(src="/img/promotion_2.jpg")
			.promotion__descr.promotion__descr_right
				h5.promotion__title Waterproof Jacket
				span.promotion__price women
					span.promotion__price.promotion__price_orange $250
				ul.promotion__list
					li.promotion__el Integrated i-Lume LED rear light
					li.promotion__el Optional hood available separately
					li.promotion__el Breathability rating 15,000
		//END promotion

		//BEGIN items
		section.items
			.section-title
				h2.section-title__text.section-title__text_orange new
					span.section-title__text arrivals
				p.section-title__descr Trending Products
			.filter-menu
				ul.filter-menu__list
					li.filter-menu__el
						span.filter-menu__text.filter-menu__text_active clothing
					li.filter-menu__el
						span.filter-menu__text bikes
					li.filter-menu__el
						span.filter-menu__text components
					li.filter-menu__el
						span.filter-menu__text accessories
					li.filter-menu__el
						span.filter-menu__text protections
			ul.items__list
				li.items__el
					.item
						.item__top
							a(href="#")
								img(src="img/item_1.jpg").item__img
							.item__btn-group
								.btn-group
									ul.btn-group__list
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-exchange
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-heart
										li.btn-group__el
											span.btn.btn_white.btn_cart
												i.fa.fa-shopping-cart
						.item__bottom
							a(href="#").item__link
								h4.item__title apple cinema 30"
							p
								span.item__price.item__price_new $110.00
								span.item__price.item__price_old $122.00
				li.items__el
					.item
						.item__top
							a(href="#")
								img(src="img/item_2.jpg").item__img
							.item__btn-group
								.btn-group
									ul.btn-group__list
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-exchange
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-heart
										li.btn-group__el
											span.btn.btn_white.btn_cart
												i.fa.fa-shopping-cart
						.item__bottom
							a(href="#").item__link
								h4.item__title HP LP3065
							p
								span.item__price.item__price_new $122.00
				li.items__el
					.item
						.item__top
							a(href="#")
								img(src="img/item_3.jpg").item__img
							.item__btn-group
								.btn-group
									ul.btn-group__list
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-exchange
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-heart
										li.btn-group__el
											span.btn.btn_white.btn_cart
												i.fa.fa-shopping-cart
						.item__bottom
							h4.item__title Palm Treo Pro
							p
								span.item__price.item__price_new $338.99
				li.items__el
					.item
						.item__top
							a(href="#")
								img(src="img/item_4.jpg").item__img
							.item__btn-group
								.btn-group
									ul.btn-group__list
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-exchange
										li.btn-group__el
											span.btn.btn_white
												i.fa.fa-heart
										li.btn-group__el
											span.btn.btn_white.btn_cart
												i.fa.fa-shopping-cart
						.item__bottom
							a(href="#").item__link
								h4.item__title Canon EOS 5D
							p
								span.item__price.item__price_new $98.00
								span.item__price.item__price_old $122.00
		//END items
		section.featured-product
			.section-title
				h2.section-title__text Featured products
				p.section-title__descr Our featured products here

		//BEGIN found-bike
		section.found-bike
			.found-bike__in.container
				.found-bike__left
					h5.found-bike__title Found your
						span.found-bike__orange Dream Bike
						|? Why wait
					p.found-bike__descr Get it now with a 0% finance deal from GoShop Fashion..
				.found-bike__right
					.found-bike__action
						span.btn.btn_gray discover
						span.btn Purchase
		//END found-bike

		//BEGIN offers
		section.offers.container
			.section-title
				h2.section-title__text Special offers
				p.section-title__descr Special price only this month
			ul.offers__list.container
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale1.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") GT SENSOR COMP 27.5
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale2.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") BREEZER SQUALL 1.0
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale3.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") GT SENSOR COMP 27.5
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale3.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") GT SENSOR COMP 27.5
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale1.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") GT SENSOR COMP 27.5
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599
				li.offers__el
					.offers__item
						.offers__left
							a(href="#")
								img(src="img/product-sale2.png")
						.offers__right
							p.offers__text Mountain bike
							p.offers__title
								a(href="#") BREEZER SQUALL 1.0
							p.offers__price
								span Price:
								span.offers__price.offers__price_new $299
								span.offers__price.offers__price_old $599

		//END offers

		//BEGIN news
		section.news
			.section-title
				h2.section-title__text Latest news
				p.section-title__descr News from our blog
			ul.news__list.container
				li.news__el
					.news__left
						.news__date 16
							p sep
						.news__comments
							i.fa.fa-comments
							p 3
					.news__right
						.news__top
							.news__tags
								ul
									li
										a.news__link(href="#") Fastor
									li
										a.news__link(href="#") Beatiful
						.news__center
							.news__descr
								a(href="#") Donec ut nunc sit amet urna aliquet
						.news__bottom
							span.news__more read more
				li.news__el
					.news__left
						.news__date 16
							p sep
						.news__comments
							i.fa.fa-comments
							p 1
					.news__right
						.news__top
							.news__tags
								ul
									li
										a.news__link(href="#") Fastor
									li
										a.news__link(href="#") Buy It
						.news__center
							.news__descr
								a(href="#") Nulla dictum consequat lorem ac vehicula
						.news__bottom
							span.news__more read more
				li.news__el
					.news__left
						.news__date 12
							p sep
						.news__comments
							i.fa.fa-comments
							p 0
					.news__right
						.news__top
							.news__tags
								a.news__link(href="#") Fastor
								a.news__link(href="#") Passion
						.news__center
							.news__descr
								a(href="#") Etiam ac aliquet ex nec volutpat orci
						.news__bottom
							span.news__more read more
		//END news


		//BEGIN address
		section.address
			.contacts
				img(src="img/logo-footer.png")
				p 148 Parramatta Road Stanmore NSW 2048, New York City
				p Call Sales & Workshop : (02) 9567 1999
				img(src="img/bg-heading-2.png")
				h5 Opening hours
				p Monday to Wednesday from 10.00AM - 17.00PM
				p Thursday to Sunday from 11.00AM - 19.00PM
			.partners.container
				ul.partners__list
					li.partners__el
						a(href="#").partners__link
							img(src="img/brand1.png")
					li.partners__el
						a(href="#").partners__link
							img(src="img/brand2.png")
					li.partners__el
						a(href="#").partners__link
							img(src="img/brand3.png")
					li.partners__el
						a(href="#").partners__link
							img(src="img/brand4.png")
					li.partners__el
						a(href="#").partners__link
							img(src="img/brand5.png")
		//END address

	//END main

	//BEGIN footer
	footer.footer
		.footer.footer__in.container
			.footer__row
				.footer__col
					.logo.logo_footer
						a.logo__link(href="#")
							img(src="img/logo-footer.png")
						.logo__descr
							p Ecommerce OC Template
					.social
						ul.social__list
							li.social__el
								a(href="#").social__link
									i.social__ico.fa.fa-twitter
							li.social__el
								a(href="#").social__link
									i.social__ico.fa.fa-facebook
							li.social__el
								a(href="#").social__link
									i.social__ico.fa.fa-youtube-play
							li.social__el
								a(href="#").social__link
									i.social__ico.fa.fa-github
							li.social__el
								a(href="#").social__link
									i.social__ico.fa.fa-behance
				.footer__col
					.vertical-list
						h4.vertical-list__title My account
						ul.vertical-list__item
							li.vertical-list__el
								a(href="#").vertical-list__link My account
							li.vertical-list__el
								a(href="#").vertical-list__link Order History
							li.vertical-list__el
								a(href="#").vertical-list__link Wish List
							li.vertical-list__el
								a(href="#").vertical-list__link Newsletter
				.footer__col
					.vertical-list
						h4.vertical-list__title Our service
						ul.vertical-list__item
							li.vertical-list__el
								a(href="#").vertical-list__link Shipping Return
							li.vertical-list__el
								a(href="#").vertical-list__link Contact us
							li.vertical-list__el
								a(href="#").vertical-list__link Faq
							li.vertical-list__el
								a(href="#").vertical-list__link Affiliates
							li.vertical-list__el
								a(href="#").vertical-list__link Specials
				.footer__col
					.vertical-list
						h4.vertical-list__title newsletter
						ul.vertical-list__item
							li.vertical-list__el
								p.vertical-list__text Lorem ipsum dolor sit amet conseret adipiscing elit sed diam nonunem.
							li.vertical-list__el
								form.subscribe.subscribe_footer
									.subscribe__field
										input.input.input_footer(placeholder="Your Email")
									.subscribe__action
										button.btn.btn_mail(type="submit")
											i.fa.fa-envelope
			.footer__row
				.payments
					ul.payments__list
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-1.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-2.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-3.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-4.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-5.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-6.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-7.png")
						li.payments__el
							a(href="#").payments__link
								img(src="img/payment-8.png")
	//END footer
	section.copyright
		.copyright__in.container
			span.copyright__text Powered By
				a(href="#").copyright__link OpenCart
			span.copyright__text Your Store 2016








